[project]
name = "{{ project_slug }}"
description = "{{ project_name }}"
requires-python = ">={{ python_specifier }}"
license = {text = "{{ software_license }}"}
readme = "README.md"
authors = [
    {name = "{{ author_name }}", email = "{{ author_email }}"},
]
classifiers = [
    "Programming Language :: Python",
]
dynamic = ["version"]
{% block dependencies %}
dependencies = [
]
{% endblock %}
[tool.setuptools.packages.find]
where = ["src"]

[tool.setuptools_scm]

[project.optional-dependencies]
dev = [
    "pytest ~= 8.4",
    "pytest-cov ~= 6.2",
    "ruff ~= 0.12",
    "zuban >= 0.2.0"
]

[build-system]
requires = ["setuptools", "setuptools-scm", "wheel"]
build-backend = "setuptools.build_meta"


[tool.pytest.ini_options]
testpaths = "tests/"

[tool.ruff]
{% block ruff_exclude -%}
extend-exclude = ["docker/**"]
{%- endblock %}
lint.ignore = ["C408", "E501", "F405", "T201", "UP031"]
lint.select = [
    "E", # pycodestyle errors
    "F", # pyflakes
    "I", # isort
    "T20", # flake8-print
    "BLE", # flake8-blind-except
    "C4", # flake8-comprehensions
    "UP", # pyupgrade
]

[tool.zuban]
{% block zuban_exclude -%}
exclude = [".venv/*", "docker/*"]
{%- endblock %}
# see https://careers.wolt.com/en/blog/tech/professional-grade-mypy-configuration
disallow_untyped_defs = false
disallow_any_unimported = false
ignore_missing_imports = true
no_implicit_optional = true
check_untyped_defs = true
warn_return_any = true
warn_unused_ignores = true
warn_unused_configs = true
show_error_codes = true
warn_unreachable = true
allow_untyped_globals = true
# Allows zuban to do symbol resolving of untyped packages
follow_untyped_imports = true

{% block scripts %}
{% endblock -%}