# {{ project_name }}

## Running the development containers

With devpod:
```console
devpod up .
```

With docker compose:
```console
docker compose up
```

## Development

With Zed locally:
```console
zed .
```

With Zed remote:
```console
devpod up . --ide zed
```
