{% extends "templates/python-package/pyproject.toml.jinja" %}

{% block dependencies -%}
dependencies = [
	"django ~= 6.0",
	"django-environ ~= 0.13",
	"psycopg[binary] ~= 3.3"
]
{%- endblock %}

{% block scripts -%}
[project.scripts]
"manage.py" =  "{{ package_name }}.manage:main"
{%- endblock %}

{% block ruff_exclude -%}
extend-exclude = ["docker/**", "src/{{ package_name }}/migrations/**"]
{%- endblock %}

{% block zuban_exclude -%}
exclude = [".venv/*", "docker/*", "src/{{ package_name }}/settings/**", "src/{{ package_name }}/migrations/**"]
{%- endblock %}
