{
{%- block extra %}
{%- endblock %}	
	"folders":
	[
		{
			"folder_exclude_patterns":
			[
				".pytest_cache",
				"__pycache__"
			],
			"path": "."
		}
	],
	"settings":
	{
		"rulers":
		[
			88
		],
		"lsp_code_actions_on_save": {
			"source.organizeImports.ruff": true,
		},
		"LSP": {
			"ruff": {
				"enabled": true,
				"command": ["docker/bin/lsp", "uv", "run", "ruff", "server"],
				"selector": "source.python",
			},
			"zuban": {
				"enabled": true,
				"command": ["docker/bin/lsp", "uv", "run", "ruff", "server"],
				"selector": "source.python"
			}
		}
	}
}